<?xml version="1.0"?>
<launch>
	<!--  Parameters  -->
	<arg name="prefix" default="marrtino_"/>

	<arg name="scan_topic" default="scan" />
	<arg name="map_topic" default="map" />
	<arg name="map_frame" default="$(arg prefix)map"/>
	<arg name="global_frame" default="$(arg prefix)map"/>
	<arg name="odom_frame" default="$(arg prefix)odom"/>
	<arg name="base_frame" default="$(arg prefix)base_footprint"/>

	<arg name="mapping" default="false"/>
	<arg name="map_file" default="arena.yaml"/>

 <!-- Initial Posizion -->
	<arg name="x" default="0.0"/>
	<arg name="y" default="0.0"/>
	<arg name="z" default="0.0"/>
	<arg name="yaw" default="0.0"/>

	<!-- Gmapping -->
	<include if="$(arg mapping)" file="$(find marrtino_navigation)/launch/gmapping.launch">
		<arg name="prefix" value="$(arg prefix)"/>
	  <arg name="scan_topic" value="$(arg scan_topic)" />
	  <arg name="map_frame" value="$(arg map_frame)" />
	  <arg name="odom_frame" value="$(arg odom_frame)" />
	  <arg name="base_frame" value="$(arg base_frame)" />
	</include>

	<!-- Map Server -->
	<include unless="$(arg mapping)" file="$(find marrtino_navigation)/launch/map_server.launch">
		<arg name="map_file" value="$(arg map_file)"/>
		<arg name="map_frame" value="$(arg map_frame)" />
	</include>

  <!-- AMCL -->
	<include unless="$(arg mapping)" file="$(find marrtino_navigation)/launch/amcl.launch">
		<arg name="prefix" value="$(arg prefix)"/>
		<arg name="scan_topic" value="$(arg scan_topic)" />
		<arg name="map_topic" value="$(arg map_topic)" />
		<arg name="global_frame" value="$(arg global_frame)" />
		<arg name="odom_frame" value="$(arg odom_frame)" />
		<arg name="base_frame" value="$(arg base_frame)" />
		<arg name="x" value="$(arg x)"/>
		<arg name="y" value="$(arg y)"/>
		<arg name="z" value="$(arg z)"/>
		<arg name="yaw" value="$(arg yaw)"/>
	</include>

	<!-- Move Base -->
	<include file="$(find marrtino_navigation)/launch/move_base.launch">
		<arg name="prefix" value="$(arg prefix)"/>
		<arg name="global_frame" value="$(arg global_frame)" />
		<arg name="odom_frame" value="$(arg odom_frame)" />
		<arg name="base_frame" value="$(arg base_frame)" />
		<arg name="static_map" value="true"/>
	</include>

</launch>
