<!-- launch file for discover -->
<launch>
    <arg name="sim" default="true" doc="Define if it is simulation environment or not"/>
    <arg name="ids" default="" doc="The frame_ids to be detected. If empty all are considered valid"/>
    <arg name="forever" default="false" doc="If the program has to run forever"/>

    <node name="g01_perception" pkg="g01_perception" type="g01_perception" output="screen">
        <param name="sim" value="$(arg sim)"/>
        <param name="forever" value="$(arg forever)"/>
        <param name="ids" value="$(arg ids)"/>
    </node>
</launch>
